.navbar {
    overflow: hidden;
    background-color: rgb(70, 70, 70);
    font-family: Arial;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: rgb(101, 253, 220);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(101, 253, 220);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(67, 99, 141);
    color:rgb(255, 136, 0)
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ececec;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

body{
    background-color: rgb(110, 223, 223);
}

.container{
    background-color: bisque;
}

.title{
    margin:150px auto 30px auto;
    font-family:"Sofia", sans-serif;;
    font-size: 7em;
    text-align: center;
    color:rgb(255, 0, 179)
}

.shel{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .4em;
    text-align: center;
    color:white;
}

.copy1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 13em;
    width: 1200px;
    margin:100px auto;
    letter-spacing: -.1em;
    line-height: .51em;
}

.copy2{
    color: rgb(255, 0, 234);
    position:relative;
    font-size: 3em;
    display: block;
    width:800px;
    height:auto;
    text-align: center;
    margin:-4400px auto;
    line-height: 2em;
    letter-spacing: 2em;
    text-shadow: 2px 2px #ffffff;
}
