*{
    padding:0px;
    margin:0px;
}

body{
    background-color: aqua;
}
.background{
    width: 900px;
    height:500px;
    background-color:rgb(212, 140, 81);
    margin: 20px auto 0px auto;
}
.backwall{
    height:500px;
    width:850px;
    margin: -20px auto 0px auto;
    background-color: none;
    padding: 0 5px;
}
.door{
    height:300px;
    width:calc(25% - 14px);
    background-color: blueviolet;
    display:inline-block;
    margin: 200px 5px 0px 5px;
    float:none;
    
}

.doorcontainer{
    margin: 0px auto 0px auto;
    display:block;
}

.floor {
    border-bottom: 200px solid red;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    height: 0;
    width:900px;
    margin: 0px auto;
    overflow-x: hidden;
  }

  .window{
      height:100px;
      width: 100px;
      border-radius:50px;
      background-color:blue;
      margin: 20px auto;
      border:2px solid red;
  }

  .nob{
      width:40px;
      height:40px;
      border-radius: 20px;
      background-color: blue;
      margin:30px auto 0px 20px;
  }

  .sidewalls{
      width:1200px;
      height: 900px;
      display:block;
      background-color: cadetblue;
      margin: -900px auto ;
      z-index:-1;
      position: relative;      
  }

  .door:hover{
      background-color:chocolate;
      transition-timing-function: ease-in-out;
      transition-duration: .5s;
  }